body { 
    background: rgb(253,253,253);
    color: rgb(0,0,0);
    font-family: helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4;
    margin: 5px, 5px, 5px, 5px;
    padding: 0;
}

a:link { 
    color: rgb(180, 50, 50);
    font-family: helvetica, sans-serif;
    font-size: 1.0em;
}

a:visited { 
    color: purple; 
    font-family: helvetica, sans-serif;
    font-size: 1.0em;
}

a:hover {
    color: rgb(0, 0, 0);
    font-family: helvetica, sans-serif;
    font-size: 1.0em;
}

a:active {
    color: red; 
    font-family: helvetica, sans-serif;
    font-size: 1.0em;
}

.code {
    background: rgb(255,255,255);
    font-family: courier, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 0.9;
    margin-top: 0.0;
    margin-bottom: 0.4em;
    text-align: left;
    padding-right: 10px;
}

.codeExecuted {
    background: rgb(255,255,255);
    font-family: courier, sans-serif;
    font-size: 0.9em;
    line-height: 0.9;
    margin-top: 0.0;
    margin-bottom: 0.4em;
    text-align: left;
    padding-right: 10px;
}

.codeNotExecuted {
    background: rgb(255,255,255);
    color: red;
    font-family: courier, sans-serif;
    font-size: 0.9em;
    line-height: 0.9;
    margin-top: 0.0;
    margin-bottom: 0.4em;
    text-align: left;
    padding-right: 10px;
}

.codeAlwaysTaken {
    background: rgb(255,255,255);
    color: green;
    font-family: courier, sans-serif;
    font-size: 0.9em;
    line-height: 0.9;
    margin-top: 0.0;
    margin-bottom: 0.4em;
    text-align: left;
    padding-right: 10px;
}

.codeNeverTaken {
    background: rgb(255,255,255);
    color: blue;
    font-family: courier, sans-serif;
    font-size: 0.9em;
    line-height: 0.9;
    margin-top: 0.0;
    margin-bottom: 0.4em;
    text-align: left;
    padding-right: 10px;
}

.branchesEven {
    background: rgb(255,255,255);
    font-family: courier, sans-serif;
    font-size: 0.9em;
    line-height: 0.9;
    margin-top: 0.0;
    margin-bottom: 0.4em;
    text-align: left;
    padding-right: 10px;
}

.branchesOdd {
    background: yellow;
    font-family: courier, sans-serif;
    font-size: 0.9em;
    line-height: 0.9;
    margin-top: 0.0;
    margin-bottom: 0.4em;
    text-align: left;
    padding-right: 10px;
}

.covoar-table {
    border-collapse: none;
    background:black;
    border:1px solid black;
}

.covoar-th {
    text-align: center;
}

table.covoar {
	border:1px solid black;
	border-collapse:collapse;
}
table.covoar th, table.covoar td {
	border:1px solid #aaaaaa;
	padding: 2px 15px 2px 15px;
}
table.covoar thead th {
	background-color:#A4BC92;
}
table.covoar tfoot td {
	background-color:#A4BC92;
}

table.covoar tr.tbody_header {
	font-weight:bold;
	text-align:center;
	background-color:#dddddd;
}

table.covoar a.pagelink {
	padding-left:5px;
	padding-right:5px;
	border:1px solid #666666;
	margin:0px 5px 0px 5px;
}
table.covoar a.currentpage {
	background-color:yellow;
}

/* Sorting */
th.table-sortable {
    border:1px solid black;
    color: #F8F8F8;
    background: #A4BC92;
	cursor:pointer;
	background-image:url("05_unsorted.gif");
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:12px;
}
th.table-sorted-asc {
	background-image:url("05_ascending.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
th.table-sorted-desc {
	background-image:url("05_descending.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
th.table-filtered {
	background-image:url("filter.gif");
	background-position:center left;
	background-repeat:no-repeat;
}
select.table-autofilter {
	font-size:smaller;
}

/* Icons box */
.iconset {
	margin:5px;
	border:1px solid #cccccc;
	border-color:#cccccc #666666 #666666 #cccccc;
	text-align:center;
	cursor:pointer;
	width:100px;
}
.iconset img {
	margin:3px;
}

.covoar-tr-first {
    color: #F8F8F8;
    background: #A4BC92;
}

tr.alternate {
    background: #CBE4B1;
}

/* Examples which stray from the default */
table.altstripe tr.alternate2 {
	background-color:#CBE4B1;
}

.covoar-tr-odd {
    background: #CBE4B1;
}

.covoar-tr-even {
    background: #DBE5C6;
}

.heading {
    background: rgb(250,250,250);
    background-image: url("http://www.rtems.org/logos/rtems_logo.jpg");
    background-repeat: no-repeat;
    color: rgb(55,55,55);
    font-size: 1.5em;
    height: 140px;
    padding-top: 20px;
    padding-left: 300px;
}

.heading-title {
    text-align:  center;
    color: rgb(0,0,0);
    font-size: 3.5em;
    font-weight: bold;
    line-height: 0.9;
    padding-top: 5px;
    padding-left: 0px;
    text-align:  center;
    width: 100%;
}

.datetime {
    color: rgb(55,55,55);
    font-size: 1.0em;
    padding-top: 5px;
    padding-left: 0px;
    text-align:  center;
    width: 100%;
}

.info {
    color: rgb(55,55,55);
    font-size: 0.6em;
    padding-top: 5px;
    padding-left: 00px;
    text-align:  center;
    width: 100%;
}

.stats-table {
    background: rgb(225,225,225);
    font-size: 0.9em;
    border: 1px solid rgb(200, 200, 200);
    padding: 0;
    margin-top: 3px;
    margin-left: 10px;
    width: 70%;
}

.stats-table-target {
    background: rgb(243,243,243);
    font-size: 1.2em;
    padding-left: 10px;
    text-align: left;
}

.stats-target-results {
    background: rgb(243,243,243);
    font-size: 0.9em;
    text-align: right;
    padding-right: 10px;
}

.stats-target-good {
    background: rgb(30,230,30);
    font-size: 0.9em;
    text-align: right;
    padding-right: 10px;
}

.stats-target-good {
    background: rgb(50,180,50);
    color: rgb(230,230,230);
    font-size: 0.9em;
    text-align: center;
    padding-right: 10px;
}

.stats-target-bad {
    background: rgb(180,50,50);
    color: rgb(230,230,230);
    font-size: 0.9em;
    text-align: center;
    padding-right: 10px;
}

.stats-table-top {
    background: rgb(243,243,243);
    color: rgb(0,0,0);
    font-size: 0.9em;
    padding-left: 2px;
}

.stats-table-row {
    background: rgb(253,253,253);
    font-size: 0.9em;
    padding: 1px;
    text-align: right;
}

.error-table {
    font-size: 0.9em;
    border: 1px solid rgb(200, 200, 200);
    padding: 0;
    margin-left: 10px;
    width: 96%;
}

.error-table-top {
    background: rgb(225,225,225);
    color: rgb(0,0,0);
    font-size: 0.9em;
    padding-left: 2px;
}

.error-table-on {
    background: rgb(225,225,225);
    font-size: 0.9em;
    padding-left: 2px;
}

.error-table-off {
    background: rgb(253,253,253);
    font-size: 0.9em;
    padding-left: 2px;
}

.error-table-dups {
    text-align: right;
    padding-right: 2px;
}

.error-table-error {
    background: rgb(255,150,150);
    font-size: 0.9em;
    padding-left: 2px;
}

.error-table-warning {
    font-size: 0.9em;
    padding-left: 2px;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 40%;
}
